.title{
  text-align:center;
}

.Create-buttonStyle{
  
  margin-left:10px;
}

.namesearch-style{
  margin-top:15px;
}

.img-size{
  width:50px;
  height:50px;
}


.Searchbox-Style{
  display:flex;
}

.numberbox-container{
  display:flex;
  border:1px solid rgb(158, 157, 157);
  padding:10px;
  margin-top:5px;
  border-radius:10px;
}